@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #d3d3d3;
    font: 400 16px/1.5em;
    font-family: myFont;
}

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
    
  h1 {
    font-size: 250% !important;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .logo {
    width: 60% !important;
    height: auto; 
    position: relative !important;
    float: none !important;
  }
  .header {
    text-align:center;
  }
}

@media (min-width: 481px) and (max-width : 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

  h1 {
    font-size: 400% !important;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .logo {
    width: 60% !important;
    height: auto; 
    position: relative !important;
    float: none !important;
  }
  .header {
    text-align:center;
  }

}

@media (min-width: 769px) and (max-width : 1279px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .logo {
      width: 80% !important;
      height: auto; 
      float: left; 
      position: relative;
    }
    .header {
      text-align:center;
    }
}

@media (min-width: 1280px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

form {
  margin-right: 3em !important; 
}

.logo {
  width: 60%;
  height: auto; 
  float: left; 
  position: relative;
}

.header {
  text-align:center;
}


h1 {
  font-size: 500%;
  color: #1a1a1a;
}

h2{
  font-size: 150%;
  color: #1a1a1a;
}

.summary, h3{
  font-size: 120%;
  color: #1a1a1a;
}

p {
  font-size: 110%;
  color: #1a1a1a;
}

#from input {
  font-size: 14px;
}

#from input[type="submit"] {
  cursor: pointer;
  background: #d3d3d3;
  border-radius: 3px;
  color: #4d4d4d;
  font-weight: bold;
  margin-top: 5px;
  padding: 8px 20px;
  border: 2px solid #4d4d4d;
  float: right;
}

#from input[type="submit"]:hover {
  color: #ffffff;
  background: #4d4d4d;
}

#from input[type="text"], input[type="date"] {
  border: 1px solid #dcdcdc !important;
  padding: 4px 10px;
  width: 60%;
  float: right;
}
select {
  border: 1px solid #dcdcdc !important;
  padding: 4px 10px;
  width: 60%;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #d3d3d3;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4d4d4d;
  color: white;
}

li .active {
  background-color: #1a1a1a;
  color: white;
}

li .sub {
  margin-left: 1em;
}

.overview {
  border: 2px solid #000000 ;
  
}

.sum {
  padding-left: 2em;
}