@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #1A2930;
    font: 400 16px/1.5em;
    font-family: myFont;
}

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

@media (min-width: 481px) and (max-width : 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media (min-width: 769px) and (max-width : 1279px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media (min-width: 1280px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.logo {
  height: auto; 
  margin-left: 1em;
  position: relative;
}

.header {
  text-align:center;
}

h1 {
    font-size: 500%;
    color: #F7CE3E;
}

.summary {
  font-size: 120%;
  color: #F7CE3E;
  margin-top: 7em;
}

input[type="submit"] {
  cursor: pointer;
}
#contact_form input {
  font-size: 14px;
}

#contact_form input[type="submit"] {
  background: #0A1612;
  border-radius: 3px;
  color: #F7CE3E;
  font-weight: bold;
  margin-top: 5px;
  padding: 12px 20px;
  border: 1px solid #F7CE3E;
  float: right;
}

#contact_form input[type="submit"]:hover {
  background: #3E3141;
}


#contact_form input[type="text"] {
  border: 1px solid #dcdcdc;
  padding: 10px 10px;
  width: 60%;
  float: right;
}

#contact_form textarea {
  border: 1px solid #dcdcdc;
  padding: 10px 10px;
  width: 60%;
  float: right;
}
