@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #1A2930;
    font: 400 16px/1.5em;
    font-family: myFont;
}

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
    .logo_pic {
        position: relative;
    }
    .login_div {
      padding-top: 10%;
      height: 35em;
    }
    #login_form h3 {
      margin-top: 5px;
    }
    #login_form input[type="submit"] {
      font-weight: normal !important;
      padding: 8px 16px !important;
    }
    #login_form input[type="text"],
    #login_form input[type="password"] {
      padding: 8px 10px !important;
    }

}
@media (min-width: 481px) and (max-width : 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .logo_pic {
        position: relative;
        width: 80%;
    }
    .login_div {
      padding-top: 10%;
      height: 50em;
    }
    #login_form h3 {
      margin-top: 5px;
    }
    #login_form input[type="submit"] {
      font-weight: lighter !important;
      padding: 8px 16px !important;
    }
}
@media (min-width: 769px) and (max-width : 1279px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .logo_pic {
        position: relative;
        min-width: 30%;
        max-width: 40%;
        top: -4em;
    }
    .login_div {
      padding-top: 10%;
      height: 50em;
    }

    #login_form input[type="text"],
    #login_form input[type="password"] {
      width: 60% !important;
    }

    #login_form h3 {
      font-size: 3em !important;
      margin-top: 0em;
    }

    #login_form input[type="submit"] {
      margin-top: 10px !important;
      padding: 12px 20px !important;
    }
}
@media (min-width: 1280px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .logo_pic {
        position: relative;
        min-width: 30%;
        max-width: 40%;
        top: -4em;
    }
    .login_div {
      padding-top: 10%;
      height: 50em;
    }

    #login_form input[type="text"],
    #login_form input[type="password"] {
      width: 60% !important; 
    }

    #login_form h3 {
      font-size: 4em !important;
      margin-top: 0em;
      margin-bottom: 22px;
    }

    #login_form input[type="submit"] {
      margin-top: 10px !important;
      padding: 12px 20px !important;
    }
}

.login_holder {
  background-color: #C5C1C0;
  height: 100%;
  text-align:center;
  border: 2px solid #F7CE3E;
}

.logo_pic {
  border: 2px solid #F7CE3E;
}

#login_form {
    position: relative;
    height: auto;
}

#login_form h3 {
  color: #0A1612;
  font-size: 2em;
}


input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}
#login_form input {
  font-size: 14px;
}

#login_form input[type="text"],
#login_form input[type="password"] {
  border: 1px solid #dcdcdc;
  padding: 10px 10px;
  width: 80%;
}

#login_form input[type="text"] {
  border-radius: 3px 3px 0 0;
}

#login_form input[type="password"] {
  border-top: none;
  border-radius: 0px 0px 3px 3px;
}

#login_form input[type="submit"] {
  background: #0A1612;
  border-radius: 3px;
  color: #F7CE3E;
  font-weight: bold;
  margin-top: 5px;
  padding: 12px 20px;
  border: 1px solid #F7CE3E;
}

#login_form input[type="submit"]:hover {
  background: #3E3141;
}

#login_form footer {
  font-size: 12px;
  margin-top: 16px;
}